DOMAIN="https://example.com" # for url reference of blossom 
TRUSTED_MINT="https://mutinynet.nutmix.cash" # mint for trusting
DOWNLOAD_COST_2MB=1 
UPLOAD_COST_2MB=1
SEED="enlist scheme brother million tissue express pole genre casino torch piece gate" # bip39 seed phrase
OWNER_NPUB="npub1z5caxxaucn8zvj6ejcgshsmq6e0qeg3e8ckf2k843w53wcarkprqa6ssqg" # npub for sending proofs 
