[Unit]
Description=Paid Blossom Server that accepts storage of data for a price. 
After=network.target

[Service]
Type=simple
User=user
Group=users
ExecStart=/usr/bin/ratasker
Restart=on-failure

# Using an external environment file

# Environment="DOMAIN=value1"
# Environment="TRUSTED_MINT=value2"
# Environment="DOWNLOAD_COST_4MB=value3"
# Environment="UPLOAD_COST_4MB=value4"
# Environment="SEED=value5"
# Environment="OWNER_NPUB=value6"
Environment="GIN_MODE=release"

# Path to file
# EnvironmentFile=/path/to/envfile

[Install]
WantedBy=multi-user.target


